<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Edit Profile</h1>
        <%
=begin%>
 <p class="text-xs-center">
          <a href="/login">Have an account?</a>
        </p> 
<%
=end%>

        <%
=begin%>
 <ul class="error-messages">
          <li>That email is already taken</li>
        </ul> 
<%
=end%>

      <%= render "form", user: @user %>

      </div>
    </div>
  </div>
</div>